snmp-server contact {{ snmp_data.contact }}
snmp-server location {{ snmp_data.location }}
{% for ro_comm in snmp_data.ro %}
snmp-server community {{ ro_comm }} ro
{% endfor %}  
{% for rw_comm in snmp_data.rw %}
snmp-server community {{ rw_comm }} rw
{% endfor %}  
