no snmp-server contact 
no snmp-server location {{ snmp_data.location }}
{% for ro_comm in snmp_data.ro %}
no snmp-server community {{ ro_comm }} ro
{% endfor %}  
{% for rw_comm in snmp_data.rw %}
no snmp-server community {{ rw_comm }} rw
{% endfor %}  
